<?xml version="1.0" encoding="UTF-8"?>
<Config>
    <Camera0>
        <IP>192.168.1.65</IP>
        <Port>8000</Port>
        <User>admin</User>
        <Code>1234567890a</Code>
        <Threshold>0</Threshold>
        <Bound1x>0.7</Bound1x>
        <Bound1y>0</Bound1y>
        <Bound2x>0.2</Bound2x>
        <Bound2y>1</Bound2y>
        <Dir_in1x>0</Dir_in1x>
        <Dir_in1y>0.5</Dir_in1y>
        <Dir_in2x>1</Dir_in2x>
        <Dir_in2y>1</Dir_in2y>
        <setTimeHour>3</setTimeHour>
        <setTimeMin>0</setTimeMin>
        <SocketClientIP>127.0.0.1</SocketClientIP>
        <SocketClientPort>6666</SocketClientPort>
        <CorePath>/home/chaofan/client2.0/build</CorePath>
        <SavePicFlag>0</SavePicFlag>
        <SavePicPrefix>Cam0</SavePicPrefix>
        <SavePicPath>/home/chaofan/picture</SavePicPath>
    </Camera0>
    <Camera1>
        <IP>192.168.1.64</IP>
        <Port>8000</Port>
        <User>admin</User>
        <Code>1234567890A</Code>
        <Threshold>500</Threshold>
        <Bound1x>0</Bound1x>
        <Bound1y>0.6</Bound1y>
        <Bound2x>1</Bound2x>
        <Bound2y>0.5</Bound2y>
        <Dir_in1x>0.5</Dir_in1x>
        <Dir_in1y>0</Dir_in1y>
        <Dir_in2x>0.5</Dir_in2x>
        <Dir_in2y>0.5</Dir_in2y>
        <setTimeHour>3</setTimeHour>
        <setTimeMin>0</setTimeMin>
        <SocketClientIP>127.0.0.1</SocketClientIP>
        <SocketClientPort>6667</SocketClientPort>
        <CorePath>/home/chaofan/client2.0/build</CorePath>
        <SavePicFlag>0</SavePicFlag>
        <SavePicPrefix>Cam1</SavePicPrefix>
        <SavePicPath>/home/chaofan/picture</SavePicPath>
    </Camera1>
    <Camera2>
        <IP>192.168.1.66</IP>
        <Port>8000</Port>
        <User>admin</User>
        <Code>1234567890A</Code>
        <Threshold>500</Threshold>
        <Bound1x>0.5</Bound1x>
        <Bound1y>0</Bound1y>
        <Bound2x>0.5</Bound2x>
        <Bound2y>1</Bound2y>
        <Dir_in1x>0</Dir_in1x>
        <Dir_in1y>0.5</Dir_in1y>
        <Dir_in2x>1</Dir_in2x>
        <Dir_in2y>1</Dir_in2y>
        <setTimeHour>3</setTimeHour>
        <setTimeMin>0</setTimeMin>
        <SocketClientIP>127.0.0.1</SocketClientIP>
        <SocketClientPort>6668</SocketClientPort>
        <CorePath>/home/chaofan/client2.0/build</CorePath>
        <SavePicFlag>0</SavePicFlag>
        <SavePicPrefix>Cam2</SavePicPrefix>
        <SavePicPath>/home/chaofan/picture</SavePicPath>
    </Camera2>
</Config>